* {
	margin: 0;
	padding: 0;
}

body {
	background-image: linear-gradient(to bottom right, DarkSeaGreen, #148055);
	font-family: 'Montserrat', sans-serif;
}

header {
	background: black;
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0px 5px #00000080;
}

.textHeader {
	display: flex;
	justify-content: center;
	color: white;
	flex-grow: 3;
	text-align: center;
}

.textHeader .rfq {
	display: none;
}

.textHeader:hover .nbq{
	display: none;
}

.textHeader:hover .rfq{
	display: inline-flex;
}

.navigation {

	flex-grow: 4;
	display: flex;
	justify-content: flex-end;
}
.navigation .button {
	color: white;
	background: #148055;
	border: 3px outset #0AA979;
	border-radius: 40px;
	margin: 15px 15px;
	padding: 13px;
	text-decoration: none;
}

.navigation .button:hover {
	border: 3px inset #0AA979;
	opacity: 0.8;
}

.navigation .contactme {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px 15px;

}
.navigation .logo-cp {
	width: 40px;
	margin-right: 10px;
	margin-left: 10px;
	border: 3px outset #0AA979;
	border-radius: 50px;
}

.navigation .logo-cp:hover {
	opacity: 0.8;
	border: 3px inset #0AA979;

}

.aboutme {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 50px 0px 50px;
	padding-top: 160px;
}

.photos {
	border-radius: 50%;
}
.profile-img {
	width: 270px;
	border: 6px outset #148055CC;
	border-radius: 50%;
	margin: 30px 30px;
}

.hover-img {
	display: none;
	width: 270px;
	border: 6px outset #148055CC;
	border-radius: 50%;
	margin: 30px 30px;
}

.photos:hover .profile-img {
	display: none;
}

.photos:hover .hover-img {
	display: inline-flex;
	
}

.introduction {
	background-color: #FFFFFF1A;
	border: 4px outset #14805559;
	padding: 20px 20px;
	font-size: 17px;
	margin: 30px 30px;
}

.education {

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0px 50px 0px 50px;
	padding-top: 100px;
	justify-content: center;
	padding-bottom: 20px;
}

.education h2 {
	text-align: center; 
	padding-top: 15px;
	padding-bottom: 15px;
}

.education ul {
	background-color: #FFFFFF1A;
	display: flex;
	flex-direction: column;
	list-style: none;
}

.education li {
	border: 4px outset #14805559;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 37.5%;
}

.education li:hover {
	background-color: #FFFFFF26;
}

.logo {
	width: 60px;
}

.instansi {
	font-size: 16px;
	margin-left: 18px;	
}